#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  background-color: #071c39;
}
.swipe-cards .card:nth-child(1) {
  rotate: 3deg;
}
h1,
h2,
h3,
h4,
h5,
h6,
.hero-p {
  font-family: 'MontserratAlt', sans-serif;
}
p,
li,
span {
  font-family: 'Montserrat', sans-serif;
}
nav {
  z-index: 1000;
}
nav ul li a {
  font-family: 'MontserratAlt', sans-serif;
  font-weight: 600 !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 500px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background: linear-gradient(hsla(222, 84%, 60%, 1), hsl(164, 79%, 71%));
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  animation: rotate var(--speed) var(--easing) alternate infinite;
  will-change: transform, filter;
}
