#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.swipe-cards .card:nth-child(1) {
  rotate: 3deg;
}
