#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.swipe-cards .card:nth-child(1) {
  rotate: 3deg;
}
h1,
h2,
h3,
h4,
h5,
h6,
.hero-p {
  font-family: 'MontserratAlt', sans-serif;
}
p,
li,
span {
  font-family: 'Montserrat', sans-serif;
}
nav {
  z-index: 1000;
}
nav ul li a {
  font-family: 'MontserratAlt', sans-serif;
  font-weight: 600 !important;
}
